<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Book an appointment</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/p1.css') }}">
  <style>
    .table{
        position:relative;
        top:40px;
    }
    .f{
      position:relative;
        top:100px;
    }
    .w{
      position:relative;
      top:100px; 
    }

  </style>
       </head>
      <body>
          <nav class="navbar navbar-expand-lg navbar-dark fixed-top ">
            <a href="http://127.0.0.1:5000" class="navbar-brand h1"><img class="d-inline-block align-top"src=""/>OPTHA</a>
          </nav>
         
          <table class="table">
            <thead class="thead-light">
              <tr>
                <h5><th scope="col">Doctor</th></h5>
                <h5><th scope="col">available on</th></h5>
                <h5><th scope="col">Speciality</th></h5>

            </tr>
          </thead>
          <tbody>
            {% for d in msg['rec']%}
            <tr>
                <td><h5>{{d.0}}</h5></td>
                <td><h5>{{d.1}}</h5></td>
                <td><h5>{{d.2}}</h5></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
               
      
  

<form class="f"  action ="http://127.0.0.1:5000/booking_successful" method ="POST">
 <h3 >For reservation:</h3>
<div class="container">
  
  <form class="form-inline">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Please select Dr's Name:</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="doctor">
      {% for d in msg['rec']%}
      <option >{{d.0}}</option>
      
      {% endfor %}
    </select>
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Please select your appointment date:</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="date">
      <option value="Sunday ">Sunday 9am-5pm </option>
      <option value="Monday ">Monday 9am-2pm </option>
      <option value="Tuesday ">Tuesday 2pm-6pm</option>
      <option value="Thursday ">Thursday 8am-5pm </option>
      <option value="Friday ">Friday 8am-12pm</option>
      <option value="Saturday ">Saturday 9am-5pm</option>
    </select>
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Consultation / Follow up</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="stat">
      <option value="Consultation">Consultation</option>
      <option value="Follow up">Follow up</option>
      
    </select>
  
    <button type="submit" class="btn btn-primary my-1 text-center">confirm reservation</button>
  
  </form>
<!--<input type="text" placeholder="date_of_app" name ="date">
<input type="text" placeholder="dr" name ="doctor">
<br>
<button class="w-10 btn btn-lg btn-primary text-center" type="submit">reserve</button> -->
</div>
</form>
<br><br>
<h3 class="w">For cancellation:</h3>
<form class="f"  action ="http://127.0.0.1:5000/cancellation_done" method ="POST">
  
  <div class="container">
    <form class="form-inline">
      <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Please select Dr's Name:</label>
      <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="doctor">
        {% for d in msg['rec']%}
        <option >{{d.0}}</option>
        
        {% endfor %}
      </select>
      <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Please select the appointment date you want to cancel:</label>
      <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="date">
        <option value="Sunday ">Sunday 9am-5pm </option>
        <option value="Monday ">Monday 9am-2pm </option>
        <option value="Tuesday ">Tuesday 2pm-6pm</option>
        <option value="Thursday ">Thursday 8am-5pm </option>
        <option value="Friday ">Friday 8am-12pm</option>
        <option value="Saturday ">Saturday 9am-5pm</option>
      </select>
      <button type="submit" class="btn btn-primary my-1 text-center">cancel reservation</button>
  </form>
</div>

</form>

</main>
</body>
</html>