<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Book an appointment</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/p1.css') }}">
  <style>
    .table{
        position:relative;
        top:40px;
    }
    .f{
      position:relative;
        top:100px;
    
  </style>
       </head>
      <body>
          <nav class="navbar navbar-expand-lg navbar-dark fixed-top ">
            <a href="/" class="navbar-brand h1"><img class="d-inline-block align-top"src=""/>OPTHA</a>
          </nav>
         
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Doctor</th>
                <th scope="col">available on</th>
                <th scope="col">Speciality</th>

            </tr>
          </thead>
          <tbody>
            {% for d in msg['rec']%}
            <tr>
                <td>{{d.0}}</td>
                <td>{{d.1}}</td>
                <td>{{d.2}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
               
        
    
<form class="f"  action ="http://127.0.0.1:5000/BOOK" method ="POST">>
<input type="text" placeholder="date_of_app" name ="date">
<input type="text" placeholder="dr" name ="doctor">
<button class="w-100 btn btn-lg btn-primary" type="submit">reserve</button> 
</form>
</main>
    </body>
</html>