<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Book an appointment</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/p1.css') }}">
  <style>
    .t{
        position:relative;
        top:70px;
    }
  </style>
       </head>
      <body>
          <nav class="navbar navbar-expand-lg navbar-dark fixed-top ">
            <a href="/" class="navbar-brand h1"><img class="d-inline-block align-top"src=""/>OPTHA</a>
          </nav>
         
             <table class="t">
              <tr>
                <th>Doctor</th>
                <th>available on</th>
                <th>Speciality</th>

            </tr>
            {% for d in msg['rec']%}
            <tr>
                <td>{{d.0}}</td>
                <td>{{d.1}}</td>
                <td>{{d.2}}</td>
            </tr>
               {% endfor %}
        
    </main>
    </body>
</html>