<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Complain</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/complaints.css') }}">
    <style>
      
body { 
  padding-top: 100px; 
}
.navbar-brand
{
  font-size: 60px;
  font-style: oblique;
}

.navbar-nav{
    font-size: 20px;
}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}
.navbar{
    background: linear-gradient(to top left, #003366 32%, #336699 68%);
}

.text{
    font-size:60px;
}



footer{
  background: linear-gradient(to top left, #003366 32%, #336699 68%);
}
.text{
  color:#003366 ;
 font-weight: 500;
 font-size:40px;
}

form {
   padding-right: 30px;
   padding-left: 30px;
   border-style: solid;
   border-color: #003366;
   box-sizing: border-box;
   margin: 50px 50px;
      }
    </style>
</head>
<body>
 
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top ">
    <a href="http://127.0.0.1:5000" class="navbar-brand h1"><img class="d-inline-block align-top"src=""/>OPTHA</a>
    <button
     type="button" data-toggle="collapse" 
     data-target="#navbarnav" 
     class="navbar-toggler" 
     aria-controls="navbarnav" 
     aria-expanded="false" aria-label="toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarnav">
       <ul class="navbar-nav mx-auto">
          <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">Home</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/aboutus">About us</a></li>
                  <li><a class="dropdown-item" href="#">prices</a></li>
                  <li><a class="dropdown-item" href="#">FAQ</a></li>
                  <li><a class="dropdown-item" href="#">Our Team</a></li>
                </ul>
      
          </li>
          <li class="nav-item active">
              <a href="#" class="nav-link">Contact us</a>
          </li>
          <li class="nav-item active">
              <a href="/doctors" class="nav-link">Doctors</a>
          </li>
          <li class="nav-item active">
              <a href="#" class="nav-link">services</a>
          </li>
          <li class="nav-item active">
              <a href="#" class="nav-link">for complaints</a>
          </li>
       </ul>
      </div>
   </nav> 
   <br>
   
   <form action ="http://127.0.0.1:5000/complaints" method ="POST">
    <div class="container">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email" input required>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="passw" input required>
      </div>
    </div>
    <fieldset class="form-group ">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Did the services meet your expectation?</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="inlineRadios" id="inlineRadios1" value="option1" checked>
            <label class="form-check-label" for="inlineRadios1">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="inlineRadios" id="inlineRadios2" value="option2">
            <label class="form-check-label" for="inlineRadios2">
              No
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Overall satisfaction? : Doctor's knowlegde/ waiting time/ Hygiene</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
             satisfied
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              unsatisfied
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
            <label class="form-check-label" for="gridRadios3">
              neutral
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group ">
      <label for="exampleFormControlTextarea1">What else would you like to see added to your services?</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text" input required></textarea>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit"  class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>

<br>
    
    <footer class="text-white text-center text-lg-start bg-primary" style="background: linear-gradient(to top left, #003366 32%, #336699 68%)">
      <div class="container p-4">
        <div class="row mt-4">
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h2 class="text-uppercase mb-4" style="font-style:oblique;">OPTHA</h2>
    
            <p>
              OPTHA committed to provide the best services in eye care through best improvements of systems, process, technology.
            </p>
    
            <p>
              Our facilities are equipped with state-of-the-art ophthalmic technology to provide the most effective treatment.
            </p>
    
            <div class="mt-4">
              <a type="button" class="btn btn-floating  btn-lg"><i class="fa fa-facebook"></i></a>
              <a type="button" class="btn btn-floating  btn-lg"><i class="fa fa-twitter"></i></a>
              <a type="button" class="btn btn-floating  btn-lg"><i class="fa fa-google-plus"></i></a>
              <a type="button" class="btn btn-floating  btn-lg"><i class="fa fa-linkedin"></i></a>
    
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1">Search something</h5>
    
            <div class="form-outline form-white mb-4">
              <input type="text" id="formControlLg" class="form-control form-control-lg" />
              <label class="form-label" for="formControlLg"></label>
            </div>
    
            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
                <span class="fa-li"><i class="fa fa-home"></i></span><span class="ms-2">Canada,Toronto</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fa fa-envelope"></i></span><span class="ms-2">optha@example.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="ms-2">+ 01 234 567 88</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fa fa-print"></i></span><span class="ms-2">+ 01 234 567 89</span>
              </li>
            </ul>
          </div>
          
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Opening hours</h5>
    
            <table class="table text-center text-white">
              <tbody class="font-weight-normal">
                <tr>
                  <td>Mon - Thu:</td>
                  <td>8am - 9pm</td>
                </tr>
                <tr>
                  <td>Fri - Sat:</td>
                  <td>8am - 1am</td>
                </tr>
                <tr>
                  <td>Sunday:</td>
                  <td>9am - 10pm</td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
        
      </div>
      
      <div class="text-center p-3" style="background: linear-gradient(to top left, #003366 32%, #336699 68%);">
        
      </div>
    </footer>
    
    
  
  






    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-3.6.2.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
  
  </body>
  </html>
