<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>appointments</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/p1.css') }}">
  <style>
    .table{
        position:relative;
        top:40px;
    }
    .f{
      position:relative;
      top:20px;
      
    }
    #2{
      position: relative;
      top:1200px;
      
      
    }
  </style>
       </head>
      <body>
          <nav class="navbar navbar-expand-lg navbar-dark fixed-top ">
            <a href="/" class="navbar-brand h1"><img class="d-inline-block align-top"src=""/>OPTHA</a>
          </nav>
          <br><br> 
          <h5 class="f">Upcoming appointments of Dr.{{data["drname"]}} :</h5>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Patient's First name</th>
                <th scope="col">Patient's Last name</th>
                <th scope="col">Appointment date</th>
                <th scope="col">Patient's ID</th>
                <th scope="col">Status</th>

            </tr>
          </thead>
          <tbody>
            {% for d in data["p"]%}
            <tr>
                <td><h5>{{d.0}}</h5></td>
                <td><h5>{{d.1}}</h5></td>
                <td><h5>{{d.2}}</h5></td>
                <td><h5>{{d.3}}</h5></td>
                <td><h5>{{d.4}}</h5></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      <br>
      <hr size="100%" width="100%" color="black">
       <h5 class="f">Old appointments of Dr. {{data["drname"]}}:</h5>
      <table class="table" id="2">
        <thead class="thead-light">
          <tr>
            <th scope="col">Patient's First name</th>
            <th scope="col">Patient's Last name</th>
            <th scope="col">Appointment date</th>
            <th scope="col">Patient's ID</th>
            <th scope="col">Status</th>

        </tr>
      </thead>
      <tbody>
        {% for d in data["oldp"]%}
        <tr>
            <td><h5>{{d.0}}</h5></td>
            <td><h5>{{d.1}}</h5></td>
            <td><h5>{{d.2}}</h5></td>
            <td><h5>{{d.3}}</h5></td>
            <td><h5>{{d.4}}</h5></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

      
</main>
    </body>
</html>