<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/p1.css') }}">
</head>
<body>
     <!--upper bar-->
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top ">
  <a href="http://127.0.0.1:5000" class="navbar-brand h1"><img class="d-inline-block align-top"src=""/>OPTHA</a>
  <button
   type="button" data-toggle="collapse" 
   data-target="#navbarnav" 
   class="navbar-toggler" 
   aria-controls="navbarnav" 
   aria-expanded="false" aria-label="toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarnav">
     <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">Home</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/aboutus">About us</a></li>
                <li><a class="dropdown-item" href="#">prices</a></li>
                <li><a class="dropdown-item" href="#">FAQ</a></li>
                <li><a class="dropdown-item" href="/doctors">Our Team</a></li>
              </ul>
    
        </li>
        <li class="nav-item active">
            <a href="#call us" class="nav-link">Contact us</a>
        </li>
        <li class="nav-item active">
            <a href="/doctors" class="nav-link">Doctors</a>
        </li>
        <li class="nav-item active">
            <a href="#fat" class="nav-link">services</a>
        </li>
        <li class="nav-item active">
            <a href="/complaints" class="nav-link">for complaints</a>
        </li>
     </ul>
    </div>
 </nav>  

    
     <!--jumbotron-->
     <br>
    <div class="container">
    <div class="row">
        <div class="col-lg-9">
        <div class="jumbotron">
            <h1 class="display-4">Best Technology, Best Eye Doctors!</h1>
            <p class="lead">
             The Highest Quality Care with a Personal Touch.</p>
          </div>
        </div>
        <div class="col-lg-3">
            <img src="{{ url_for('static',filename='gg.png') }}" class="img-fluid" alt="Responsive image">
                      
        </div>
        </div>
 </div>
    <!--login/signin pages-->
    <div class="container">
    <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Doctors & Healthcare Professionals </h3>
        <p class="card-text">our team of Eye Doctors, From a routine eye exam to LASIK we have a Doctor that can help.</p>
        <a href="/loginDr" class="btn btn-primary">click Here!</a>
      
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Patients</h3>
        <p class="card-text">Looking For Consultation? Consult with your own healthcare specialist, wherever you are</p>
        <a href="/loginPt" class="btn btn-primary">click Here!</a>
      
      </div>
    </div>
    <div class="card">
      
      <div class="card-body">
        <h3 class="card-title">Hospital</h3>
        <p class="card-text">Get basics solution for the daily life problems and soother experience of the eye related queries by experts.</p>
        <a href="/admin" class="btn btn-primary">click Here!</a>
       
      </div>
    </div>
  </div>
</div>
<br>
<!--services-->
<div class = "container">
  <h1 id="fat"> Every Body Deserves to see the world clearly! </h1>
  <h1 class="text"> Our Eye Care Services: </h1><br><br>
  <!--first row-->
  <div class="row">
    <div class="col-lg-4">
  <h3>Eye Exams</h3>
  <figure class = "figure">
     <img src = "{{ url_for('static',filename='ll.jpg') }}" 
        class = "figure-img img-fluid rounded" alt = "Figure Element" 
        height = "200" width = "300">
     <figcaption class = "figure-caption">We are equipped with the latest technologies that help for the eye sight exams.</figcaption>
  </figure>
    </div>
    <div class="col-lg-4">
  <h3>Retina Repair</h3>
  <figure class = "figure">
     <img src = "{{ url_for('static',filename='1.jpg') }}" 
        class = "figure-img img-fluid rounded" alt = "Figure Element" 
        height = "200" width = "300">
     <figcaption class = "figure-caption">very effective and safe!</figcaption>
  </figure>
  </div>
   <div class="col-lg-4">
  <h3>Dry Eye Surgery</h3>
  <figure class = "figure">
     <img src = "{{ url_for('static',filename='2.jpg') }}" 
        class = "figure-img img-fluid rounded" alt = "Figure Element" 
        height = "200" width = "300">
     <figcaption class = "figure-caption">Is the safest & most effective procedure that’s ever existed ophthalmology</figcaption>
  </figure>
  </div>
  </div>
  <!--second row-->
  <div class="row">
    <div class="col-lg-4">
  <h3>Laser Eye Surgery</h3>
  <figure class = "figure">
     <img src = "{{ url_for('static',filename='3.jpg') }}" 
        class = "figure-img img-fluid rounded" alt = "Figure Element" 
        height = "200" width = "300">
     <figcaption class = "figure-caption">This is a minimally invasive, bladeless form of keyhole laser eye surgery.</figcaption>
  </figure>
  </div>
  <div class="col-lg-4">
    <h3>Bionic Eye sight vision</h3>
    <figure class = "figure">
       <img src = "{{ url_for('static',filename='4.jpg') }}" 
          class = "figure-img img-fluid rounded" alt = "Figure Element" 
          height = "200" width = "300">
       <figcaption class = "figure-caption">A bionic eye could restore sight to the blind and greatly improve</figcaption>
    </figure>
    </div>
    <div class="col-lg-4">
      <h3>Glaucouma Surgery</h3>
      <figure class = "figure">
         <img src = "{{ url_for('static',filename='5.jpg') }}" 
            class = "figure-img img-fluid rounded" alt = "Figure Element" 
            height = "200" width = "300">
         <figcaption class = "figure-caption">Newest Equipment is used!</figcaption>
      </figure>
      </div>
      </div>
</div>

<!--contactus-->
<br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
<h1 id="call us">Contact Us!</h1>
<h5> +01 234 567 88</h5>
<h5>+01 234 567 89</h5>
      <figure class = "figure">
         <img src = "{{ url_for('static',filename='alooo.png') }}" 
            class = "figure-img img-fluid rounded" alt = "Figure Element" 
            height = "200" width = "300">
         <figcaption class = "figure-caption"></figcaption>
      </figure>
    </div>
    <div class="col-lg-8">
    </div>
    </div>
  </div>
<br><br>
     <!--location-->
     <div class="container">
     <div class="text text-center ">
           <p> Our OPTHA Location</p>
           <a type="button" class="btn btn-floating btn-lg"><i class="fa fa-map-marker"></i> Canada,Toronto</a>
     </div>
        <div class="location" style="text-align:center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d184552.57290251463!2d-79.51814314739457!3d43.718155660478686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb90d7c63ba5%3A0x323555502ab4c477!2sToronto%2C%20ON%2C%20Canada!5e0!3m2!1sen!2seg!4v1671534676162!5m2!1sen!2seg" width="650" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
  
    <!--footer-->
    <footer class="text-white text-center text-lg-start bg-primary">
    <div class="container p-4">
      <div class="row mt-4">
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h3 class="text-uppercase mb-4" style="font-style:oblique;">OPTHA</h3>
  
          <p>
            OPTHA committed to provide the best services in eye care through best improvements of systems, process, technology.
          </p>
  
          <p>
            Our facilities are equipped with state-of-the-art ophthalmic technology to provide the most effective treatment.
          </p>
  
          <div class="mt-4">
            <a type="button" class="btn btn-floating  btn-lg"><i class="fa fa-facebook"></i></a>
            <a type="button" class="btn btn-floating  btn-lg"><i class="fa fa-twitter"></i></a>
            <a type="button" class="btn btn-floating  btn-lg"><i class="fa fa-google-plus"></i></a>
            <a type="button" class="btn btn-floating  btn-lg"><i class="fa fa-linkedin"></i></a>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 pb-1">Search something</h5>
  
          <div class="form-outline form-white mb-4">
            <input type="text" id="formControlLg" class="form-control form-control-lg" />
            <label class="form-label" for="formControlLg"></label>
          </div>
  
          <ul class="fa-ul" style="margin-left: 1.65em;">
            <li class="mb-3">
              <span class="fa-li"><i class="fa fa-home"></i></span><span class="ms-2">Canada,Toronto</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fa fa-envelope"></i></span><span class="ms-2">optha@example.com</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fa fa-phone"></i></span><span class="ms-2">+ 01 234 567 88</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fa fa-print"></i></span><span class="ms-2">+ 01 234 567 89</span>
            </li>
          </ul>
        </div>
        
  
        
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Opening hours</h5>
  
          <table class="table text-center text-white">
            <tbody class="font-weight-normal">
              <tr>
                <td>Mon - Thu:</td>
                <td>9am - 6pm</td>
              </tr>
              <tr>
                <td>Fri - Sat:</td>
                <td>8am - 10pm</td>
              </tr>
              <tr>
                <td>Sun - Tue:</td>
                <td>9am - 5pm</td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
      
    </div>
   
    <div class="text-center p-3" style="background: linear-gradient(to top left, #003366 32%, #336699 68%);">
      
    </div>
  </footer>
  



























  
  <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery-3.6.2.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>



    
</body>
</html>